name: Build mi8 kernel -By Xinran

on:
  workflow_dispatch:
    inputs:
      ksu:
        type: choice
        description: '集成KSU' 
        options:
        - '是'
        - '否'
        
jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4



    - name: 构建编译内核环境
      run: |
        sudo apt-get update
        sudo -E apt-get -y -qq install git make bc bison ccache openssl dos2unix zip kmod cpio flex libelf-dev curl libssl-dev libtfm-dev wget device-tree-compiler ca-certificates python3 python2 libtinfo5 binutils-aarch64-linux-gnu binutils-arm-linux-gnueabi
        mkdir -p $GITHUB_WORKSPACE/kernel_workspace



    - name: 下载 Gcc编译器
      run: |
        cd $GITHUB_WORKSPACE/kernel_workspace
        
        mkdir gcc64
        wget -O gcc-aarch64.tar.gz https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/+archive/961622e926a1b21382dba4dd9fe0e5fb3ee5ab7c.tar.gz
        tar -C gcc64/ -zxvf gcc-aarch64.tar.gz
    
        mkdir gcc32
        wget -O gcc-arm.tar.gz https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/+archive/cb7b3ac1b7fdb49474ff68761909934d1142f594.tar.gz
        tar -C gcc32/ -zxvf gcc-arm.tar.gz
    
    #- name: 下载Clang编译器
      #run: |
        #cd $GITHUB_WORKSPACE/kernel_workspace
        #mkdir clang-aosp
        #git clone -q --depth=1 https://github.com/wu17481748/android_prebuilts_clang_host_linux-x86_clang-4691093 clang-aosp
    
    
    - name: 下载内核源码
      run: |
        cd $GITHUB_WORKSPACE/kernel_workspace
        git clone --depth 1 https://github.com/Winkmoon/LawRun_xiaomi_sdm845_CAF -b master android-kernel
        cd android-kernel



    - name: 集成 KSU
      if: github.event.inputs.ksu == '是'
      run: |
        cd $GITHUB_WORKSPACE/kernel_workspace/android-kernel
          rm -rf KernelSU
          echo "正在集成KSU..."
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -s v0.9.5

               
    - name: 设置ccache缓存
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: build-kernel-mido-kernel
        max-size: 2G

    - name: 切换python2.7
      run: |
       sudo rm /bin/python
       sudo ln -s /bin/python2.7 /bin/python
 
    - name: 开始编译内核
      run: |
        cd $GITHUB_WORKSPACE/kernel_workspace/android-kernel
        #sed -i '/atomic_set(&current->seccomp.filter_count, 0);/d' drivers/kernelsu/core_hook.c
        export PATH=$GITHUB_WORKSPACE/kernel_workspace/gcc64/bin:$GITHUB_WORKSPACE/kernel_workspace/gcc32/bin:$PATH
        export KBUILD_BUILD_HOST=Xinran
        export KBUILD_BUILD_USER=StarBai
        make -s -j$(nproc --all) O=out ARCH=arm64 LawRun_defconfig
        make -j$(nproc --all) CC="ccache aarch64-linux-android-gcc" O=out ARCH=arm64 CROSS_COMPILE=aarch64-linux-android- CROSS_COMPILE_ARM32=arm-linux-androideabi-
        #CLANG_TRIPLE=aarch64-linux-gnu- 
                

    - name: 制作Anykernel3卡刷包
      run: |
        cd $GITHUB_WORKSPACE/kernel_workspace
        rm -rf AnyKernel3
        git clone https://github.com/Winkmoon/AnyKernel3 -b master --depth 1
        rm -rf .git
        cp android-kernel/out/arch/arm64/boot/Image.gz-dtb android-kernel/Anykernel3/
        cp -a android-kernel/Anykernel3 android-kernel/out/arch/arm64/boot/anykernel3
        zip -r android-kernel/out/arch/arm64/boot/sdm845-xinran_mi8-ak3.zip android-kernel/out/arch/arm64/boot/anykernel3
        

    
    - name: 上传卡刷包
      uses: actions/upload-artifact@v4
      with:
        name: sdm845-xinran_mi8-Anykernel3
        path: kernel_workspace/android-kernel/out/arch/arm64/boot/anykernel3/*
        

    - name: 上传编译内核
      uses: actions/upload-artifact@v4
      with:
        name: sdm845-xinran_mi8-kernel
        path: kernel_workspace/android-kernel/out/arch/arm64/boot/*
